/Tareas/Unidad 4/Tarea 2/Ejercicio1/nbproject/private/
/Tareas/Unidad 4/Tarea 2/Ejercicio2/nbproject/private/
/Tareas/Unidad 4/Tarea 2/Ejercicio3/nbproject/private/
/Tareas/Unidad 4/Tarea 2/Ejercicio4/nbproject/private/
/Tareas/Unidad 4/Tarea 2/Ejercicio5/nbproject/private/
/Tareas/Unidad 4/Tarea 2/Ejercicio5/build/
/Tareas/Unidad 4/Tarea 2/Ejercicio1/build/
/Tareas/Unidad 3/Tarea 1/Ejercicio1/nbproject/private/
/Tareas/Unidad 3/Tarea 1/Ejercicio1/build/
/Tareas/Unidad 3/Tarea 1/Ejercicio2/nbproject/private/
/Tareas/Unidad 3/Tarea 1/Ejercicio3/nbproject/private/
/Tareas/Unidad 3/Tarea 1/Ejercicio 4/nbproject/private/
/Tareas/Unidad 3/Tarea 1/Ejercicio4/nbproject/private/
/Tareas/Unidad 5/Tarea 1/Ejercicio1/nbproject/private/
/Tareas/Unidad 5/Tarea 1/Ejercicio3/nbproject/private/
/Tareas/Unidad 5/Tarea 1/Ejercicio4/nbproject/private/
/Tareas/Unidad 8/Ejercicio1/nbproject/private/
/Tareas/Unidad 8/Ejercicio2/nbproject/private/
/Tareas/Unidad 8/Ejercicio3/nbproject/private/
/Tareas/Unidad 8/Ejercicio4/nbproject/private/
/Tareas/Unidad 8/Tarea 1/Ejercicio1/build/
/Tareas/Unidad 8/Tarea 2/Ejercicio1/nbproject/private/
/Tareas/Unidad 8/Tarea 2/Ejercicio2/nbproject/private/
/Tareas/Unidad 8/Tarea 2/Ejercicio3/nbproject/private/
/Tareas/Unidad 8/Tarea 2/Ejercicio4/nbproject/private/
/Tareas/Unidad 7/Tarea 1/Ejercicio1/nbproject/private/
/Tareas/Unidad 7/Tarea 1/Ejercicio2/nbproject/private/
/Tareas/Unidad 7/Tarea 1/Ejercicio3/nbproject/private/
/Tareas/Unidad 7/Tarea 1/Ejercicio4/nbproject/private/
/Tareas/Unidad 7/Tarea 1/Ejercicio2/build/
/Tareas/Unidad 7/Tarea 1/Ejercicio2/dist/